<div>
    <div class="row">
        <div class="col-md-8">
            <!-- Display the initial content of code editor from database-->
            <textarea id="code-screen">{{content}}</textarea>
        </div>
        <div class="col-md-4" id="chatbox">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    CHAT ROOM
                    <span class="pull-right" id="chatbox-username">
                        {{#if user}}
                            {{user.name}}
                        {{/if}}
                    </span>
                </div>
                <div class="panel-body">
                    <ul class="media-list" style="heigh: 300px; overflow-y: scroll" id="chatbox-listMessages">

                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter message" id="userMessage"/>
                        <span class="input-group-btn">
              <button type="button" class="btn btn-primary" onclick="sendMessage()">SEND</button>
            </span>
                    </div>

                    <form action="fileupload" method="post" enctype="multipart/form-data">
                        <input type="file" name="filetoupload"><br>
                        <input type="submit">
                    </form>

                </div>
            </div>


        </div>
    </div>
</div>

<!--roomId is coming from routes/task.js-->
<input type="hidden" value="{{roomId}}" id="roomId">

<!--Code Editor ---- https://cdnjs.com/libraries/codemirror -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/mode/javascript/javascript.min.js"></script>

<script src="/plugins/ot/ot.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
    var EditorClient = ot.EditorClient;
    var SocketIOAdapter = ot.SocketIOAdapter;
    var CodeMirrorAdapter = ot.CodeMirrorAdapter;

    var socket = io.connect('http://localhost:3000');
    var editor = CodeMirror.fromTextArea(document.getElementById("code-screen"), {
        lineNumbers: true,
        theme: "monokai"
    });

    // Get the value from element having id code-screen
    var code = $('#code-screen').val();

    var cmClient;

    function init(str, revision, clients, serverAdapter) {

        // If there is no data of code editor in database it will display str variable
        if (!code) {
            editor.setValue(str);
        }

        cmClient = window.cmClient = new EditorClient(
                revision, clients, serverAdapter, new CodeMirrorAdapter(editor)
        );
    }

    socket.on('doc', function (obj) {
        init(obj.str, obj.revision, obj.clients, new SocketIOAdapter(socket));
    });

    var username = $("#chatbox-username").val();
    if (username === "") {
        var userId = Math.floor(Math.random() * 9999).toString();
        username = "User" + userId;
        $("#chatbox-username").text(username);
    }

    // element having id as roomId and get value of that
    var roomId = $('#roomId').val();
    socket.emit('joinRoom', {room: roomId, username: username});

    var userMessage = function (name, text) {
        return ('<li class="media"> <div class="media-body"> <div class="media">' +
                '<div class="media-body"' +
                '<b>' + name + '</b> : ' + text +
                '<hr/> </div></div></div></li>'
        );
    };

    var sendMessage = function () {
        var userMessage = $('#userMessage').val();
        socket.emit('chatMessage', {message: userMessage, username: username});

        // After we send the message the value in placeholder will be cleared
        $('#userMessage').val("");
    };

    // Append chat message every time a new message typed in
    socket.on('chatMessage', function (data) {
        $('#chatbox-listMessages').append(userMessage(data.username, data.message));
    });

</script>
